a {
    text-decoration: none;
}

nav {

    margin-left: 57px;
    display: flex;
    align-items: flex-end;
    ul {
        list-style: none ;
        margin: 0px;
        li{
            display: inline-block;
            margin-right: 71px;

            a {
                font-family: 'Archivo';
                font-style: normal;
                font-weight: 300;
                font-size: 28px;
                line-height: 30px;
                color: #1E1E1E;
            }
        }
    }
}