.textH {
    position: absolute;
    width: 1297px;
    height: 26px;
    left: 20px;
    top: 199px;
    /* Archivo/H2 */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    /* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
    leading-trim: both;
    text-edge: cap;
    /* V3/Dark */
    color: #1E1E1E;
}


.textHU {
    position: absolute;
    width: 96px;
    height: 19px;
    left: 20px;
    top: 258px;
    /* Archivo/mini_logo */
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 140%;
    /* or 39px */
    /* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
    leading-trim: both;
    text-edge: cap;
    /* V3/Dark */
    color: #1E1E1E;
}

.mid {
    padding-left: 58px;
    padding-right: 58px;
    padding-top: 76px;
    padding-bottom: 76px;
    gap: 44px;
    position: absolute;
    left: 20px;
    top: 355px;
    /* V1/White */
    background: #FFFFFF;
    border-radius: 8px;
    width: 1400px;
    display: flex;
    justify-content: space-between;
    /* Frame 116 */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 60px 62px;
    gap: 172px;
    width: 1400px;
    /* V1/White */
    background: #FFFFFF;
    /* sh1 */
    box-shadow: 0px 106px 42px rgba(23, 32, 44, 0.01), 0px 60px 36px rgba(23, 32, 44, 0.05), 0px 26px 26px rgba(23, 32, 44, 0.09), 0px 7px 15px rgba(23, 32, 44, 0.1), 0px 0px 0px rgba(23, 32, 44, 0.1);
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.inMid1 {
    display: flex;
    flex-flow: column wrap;
}

.inMid1 h1 {
    margin: 0;
    margin-bottom: 44px;
}

.mid h1 {
        width: 132px;
        height: 26px;
        /* Archivo/H2 */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        /* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
        leading-trim: both;
        text-edge: cap;
        /* V3/Dark */
        color: #1E1E1E;
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
}

.inMid2 div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 40px 32px;
    gap: 10px;
    /* V1/blue */
    background: #2069E0;
    border-radius: 8px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

    .inMid2 div p {
        width: 430px;
        height: 331px;
        /* Archivo/mini_logo */
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 140%;
        /* or 39px */
        /* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
        leading-trim: both;
        text-edge: cap;
        /* V1/White */
        color: #FFFFFF;
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0;
    }

.inMid1 p {
    /* Полные энтузиазма вы решаетесь сразу же взяться за гос заказы 44-ФЗ. К сожалению ваши амбиции разбились об реальность, и вы не смогли достичь успехов на этом поприще. Государство выставляет слишком много требования, которые вы не смогли соблюсти. Вы решаете пока приостановить свою карьеру на ЭТП. */

    width: 610px;
    /* Archivo/mini_logo */
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 140%;
    /* or 39px */
    /* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
    leading-trim: both;
    text-edge: cap;
    /* V3/Dark */
    color: #1E1E1E;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin:0;
}